*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  background-color: rgb(239, 239, 240);
  -webkit-appearance: none;
}
p{
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

/* link decoration and color */
a{
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}

/* clearfix */
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.header-left{
  width: 12vw;
  height: 8vh;
  float: left;
  border: solid 1px;
}
.header-center{
  width: 76vw;
  height: 8vh;
  float: left;
  border: solid 1px;
}
.header-right{
  width: 12vw;
  height: 8vh;
  float: left;
  border: solid 1px;
}
.header-title{
  font-size: 48px;
  line-height: 8vh;
  text-align: center;
}
.header-right-menu{
  padding: 0 0.5vw;
  line-height: 8vh;
}

/* main component */
.main-box{
  width: 98vw;
  margin: 0 1vw;
}
.left-box{
  width: 30vw;
  float: left;
}
.center-box{
  width: 30vw;
  float: left;
  margin: 0 4vw;
}
.right-box{
  width: 30vw;
  float: left;
}

/* caption */
.large-caption{
  padding: 0.5em;
  color: black;
  border-left: solid 5px black;
}
.large-caption::after{
  display: block;
  content: " ";
  height: 0.15vh;
  background: linear-gradient(to right, dimgray, white);
}
.small-caption{
  color: black;
  border-bottom: dashed 2px black;
}

/* btn */
.btn-radius {
  font-size: 12px;
  position: relative;
  display: inline-block;
  padding: 0.15em 0.25em;
  text-decoration: none;
  color: black;
  border: solid 1px;
  border-radius: 5px;
  transition: .4s;
}

.contact-background{
  background-color: black;
}

/* tablet */
@media screen and (max-width: 767px) {
}

/* smart phone */
@media screen and (max-width: 479px) {
  .header-title{
    font-size: 30px;
  }
  .header-right-menu{
    display: none;
  }
  .left-box, .center-box, .right-box{
    float: none;
    width: 95vw;
  }
}